{% if false %}
        {% assign show_vat_cart = "1" %}
        {% assign bss_b2b_enable_eu_vat = "1" %}
        {% assign bss_b2b_enable_gst = "0" %}
        {% assign bss_b2b_enable_abn = "0" %}
        {% assign bss_b2b_enable_uk_vat = "1" %}
        {% assign bss_b2b_vat_exempt_selected = "0" %}
        {% assign show_vat_apply_to = "0" %}
        {% assign show_vat_customer_tags = "" | split: "," %}
        {% assign tax_exempt_form_header_text = "EU VAT ID" %}
        {% assign tax_exempt_form_subtitle_text = "(VAT will be deducted at payment step)" %}
        {% assign tax_exempt_form_header_text_gst = "India GST Identification Number" %}
        {% assign tax_exempt_form_subtitle_text_gst = "(India GST will be deducted at payment step)" %}
        {% assign tax_exempt_form_header_text_abn = "ABN Registration Number" %}
        {% assign tax_exempt_form_subtitle_text_abn = "(ABN will be deducted at payment step)" %}
        {% assign tax_exempt_form_header_text_uk = "UK VAT Registration Number" %}
        {% assign tax_exempt_form_subtitle_text_uk = "(UK VAT will be deducted at payment step)" %}
        {% capture taxExemptForm %}<div class="bss-b2b-tax-ex-wrapper">
  <h3 class="bss-vat-exempt-form-header-text">
    {% if bss_b2b_vat_exempt_selected == '0'%}<span class="bss-b2b-translation-vat-form_header_text">{{ tax_exempt_form_header_text }}</span>{%endif%}
    {% if bss_b2b_vat_exempt_selected == '1'%}<span class="bss-b2b-translation-vat-form_header_text_uk">{{ tax_exempt_form_header_text_uk }}</span>{%endif%}
    {% if bss_b2b_vat_exempt_selected == '2'%}<span class="bss-b2b-translation-vat-form_header_text_abn">{{ tax_exempt_form_header_text_abn }}</span>{%endif%}
    {% if bss_b2b_vat_exempt_selected == '3'%}<span class="bss-b2b-translation-vat-form_header_text_gst">{{ tax_exempt_form_header_text_gst }}</span>{%endif%}
  </h3>
  <p class="bss-vat-exempt-form-subtitle-text">
    {% if bss_b2b_vat_exempt_selected == '0'%}<span class="bss-b2b-translation-vat-form_subtitle_text">{{ tax_exempt_form_subtitle_text }}</span>{%endif%}
    {% if bss_b2b_vat_exempt_selected == '1'%}<span class="bss-b2b-translation-vat-form_subtitle_text_uk">{{ tax_exempt_form_subtitle_text_uk }}</span>{%endif%}
    {% if bss_b2b_vat_exempt_selected == '2'%}<span class="bss-b2b-translation-vat-form_subtitle_text_abn">{{ tax_exempt_form_subtitle_text_abn }}</span>{%endif%}
    {% if bss_b2b_vat_exempt_selected == '3'%}<span class="bss-b2b-translation-vat-form_subtitle_text_gst">{{ tax_exempt_form_subtitle_text_gst }}</span>{%endif%}
  </p>
  <div class="bss-b2b-vat-input-wrapper">
    <select name="bss-b2b-vat-selected" class="bss-b2b-vat-selected">
      {% if bss_b2b_enable_eu_vat == '1' %}<option value="0">EU</option>{% endif %}
      {% if bss_b2b_enable_uk_vat == '1' %}<option value="1">UK</option>{% endif %}
      {% if bss_b2b_enable_abn == '1' %}<option value="2">ABN</option>{% endif %}
      {% if bss_b2b_enable_gst == '1' %}<option value="3">India GST</option>{% endif %}
    </select>
    <input type="text" name="bss-b2b-eu-tax" class="bss-b2b-vat-input" />
  </div>
  <div class="bss-b2b-tax-ex-message"></div>
  <script>
    {% comment %} BSS integrated and compatible vat exempt with LangShop {% endcomment %}
    window.addEventListener('load', ()=>{
      setTimeout(()=>{
        if (BSS_B2B && BSS_B2B.integrate && BSS_B2B.integrate.langShop && BSS_B2B.integrate.langShop.handleAllTranslation) {
          BSS_B2B.integrate.langShop.handleAllTranslation('vat');
        }
      }, 1000)
    });
  </script>
</div>  {% endcapture %}
{% assign isShowVATForm = false %}
{% assign customerTags = customer.tags | join: ',' | downcase | split: ',' %}
{% if show_vat_cart == "0" %}
    {% assign isShowVATForm = false %}
{% elsif show_vat_cart == "1" %}
    {% if show_vat_apply_to == "0" %}
    {% assign isShowVATForm = true %}
{% elsif show_vat_apply_to == "1" %}
    {% if customer %}
        {% assign isShowVATForm = true %}
    {% endif %}
{% elsif show_vat_apply_to == "2" %}
    {% unless customer %}
        {% assign isShowVATForm = true %}
    {% endunless %}
{% elsif show_vat_apply_to == "3" %}
    {% for tag in show_vat_customer_tags %}
        {% assign downcaseTag = tag | downcase %}
        {% if customerTags contains downcaseTag %}
            {% assign isShowVATForm = true %}
            {% break %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endif %}
{% if isShowVATForm %}
    {{ taxExemptForm }}
{% endif %}{% endif %}