<section class="breadcrumbs">
  <div class="item-parent col-12 col-lg-6">
    <ul class="item-parent">
      {% for breadcrumb in breadcrumbs %}
        <li class="item">
          <a href="{{ breadcrumb.href }}">
            <p>{{ breadcrumb.text }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% if success %}
  <div class="alert alert-success alert-dismissible">
    <i class="fa fa-check-circle"></i>
    {{ success }}
    <button
      type="button"
      class="close"
      data-dismiss="alert">&times;</button>
  </div>
{% endif %}
{% if error_warning %}
  <div class="alert alert-danger alert-dismissible">
    <i class="fa fa-exclamation-circle"></i>
    {{ error_warning }}
    <button
      type="button"
      class="close"
      data-dismiss="alert">&times;</button>
  </div>
{% endif %}
<div class="row">{{ column_left }}
  {% if column_left and column_right %}
    {% assign class = 'col-sm-6' %}
  {% elsif column_left or column_right %}
    {% assign class = 'col-sm-9' %}
  {% else %}
    {% assign class = 'col-sm-12' %}
  {% endif %}
  <div id="content" class="{{ class }}">{{ content_top }}
    <h2>{{ heading_title }}</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-left" colspan="2">{{ text_order_detail }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-left" style="width: 50%;">
            {% if invoice_no %}
              <b>{{ text_invoice_no }}</b>
              {{ invoice_no }}<br/>
            {% endif %}
            <b>{{ text_order_id }}</b>
            #{{ order_id }}<br/>
            <b>{{ text_date_added }}</b>
            {{ date_added }}</td>
          <td class="text-left" style="width: 50%;">
            {% if payment_method %}
              <b>{{ text_payment_method }}</b>
              {{ payment_method }}<br/>
            {% endif %}
            {% if shipping_method %}
              <b>{{ text_shipping_method }}</b>
              {{ shipping_method }}
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-left" style="width: 50%; vertical-align: top;">{{ text_payment_address }}</td>
          {% if shipping_address %}
            <td class="text-left" style="width: 50%; vertical-align: top;">{{ text_shipping_address }}</td>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-left">{{ payment_address }}</td>
          {% if shipping_address %}
            <td class="text-left">{{ shipping_address }}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td class="text-left">{{ column_name }}</td>
            <td class="text-left">{{ column_model }}</td>
            <td class="text-right">{{ column_quantity }}</td>
            <td class="text-right">{{ column_price }}</td>
            <td class="text-right">{{ column_total }}</td>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td class="text-left">{{ product.name }}
                {% for option in product.option %}
                  <br/>
                  &nbsp;<small>
                    - {{ option.name }}: {{ option.value }}</small>
                {% endfor %}
                {% if product.reward %}
                  <br/>
                  &nbsp;<small>
                    - {{ product.reward }}</small>
                {% endif %}
                {% if product.recurring %}
                  <br/>
                  &nbsp;<small>
                    - {{ text_recurring_item }}</small>
                {% endif %}
              </td>
              <td class="text-left">{{ product.model }}</td>
              <td class="text-right">{{ product.quantity }}</td>
              <td class="text-right">{{ product.price }}</td>
              <td class="text-right">{{ product.total }}</td>
              {% if not voucher %}
                <td class="text-center">
                  {% if product.return %}
                    <a
                      href="{{ product.return }}"
                      data-toggle="tooltip"
                      title="{{ button_return }}"
                      class="btn btn-primary">
                      <i class="fa fa-mail-reply"></i>
                    </a>
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
          {% for voucher in vouchers %}
            <tr>
              <td class="text-left">{{ voucher.description }}</td>
              <td class="text-left"></td>
              <td class="text-right">1</td>
              <td class="text-right">{{ voucher.amount }}</td>
              <td class="text-right">{{ voucher.amount }}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          {% for total in totals %}
            <tr>
              <td colspan="4" class="text-right">
                <b>{{ total.title }}:</b>
              </td>
              <td class="text-right">{{ total.text }}</td>
            </tr>
          {% endfor %}
        </tfoot>
      </table>
    </div>
    {% if history %}
      <h3>{{ text_history }}</h3>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td class="text-left">{{ column_date_added }}</td>
            <td class="text-left">{{ column_status }}</td>
            <td class="text-left">{{ column_comment }}</td>
          </tr>
        </thead>
        <tbody>
          {% for history in histories %}
            <tr>
              <td class="text-left">{{ history.date_added }}</td>
              <td class="text-left">{{ history.status }}</td>
              <td class="text-left">{{ history.comment }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {% if recharge %}
      <div class="buttons clearfix">
        <div class="pull-right">
          <a href="{{ recharge }}" class="btn btn-primary">{{ button_recharge }}</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>