<section class="breadcrumbs">
  <div class="item-parent col-12 col-lg-6">
    <ul class="item-parent">
      {% for breadcrumb in breadcrumbs %}
        <li class="item">
          <a href="{{ breadcrumb.href }}">
            <p>{{ breadcrumb.text }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<h2>Wachtwoord wijzigen</h2>
<div class="row">

  <div class="col-sm-8">
    <div id="content" class="{{ class }}">


      {% form 'reset_customer_password' %}
        {% if form.errors %}
          {{ form.errors | default_errors }}
        {% endif %}
        <fieldset>
          <legend>Wachtwoord</legend>
          <div class="form-group required">
  <label for="password">Password</label>
  <input type="password" id="password" name="customer[password]" autocomplete="new-password" placeholder="Password">
  <label for="password_confirmation">Password confirmation</label>
  <input type="password" id="password_confirmation" name="customer[password_confirmation]" autocomplete="new-password" placeholder="Confirm your password">
  <button type="submit">Reset password</button>
          </div>
        </fieldset>
        <div class="buttons clearfix">
          <!-- <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div> -->
          <div class="pull-right">
  
          </div>
        </div>
      {% endform %}

      <div class="clearfix" style="height: 75px;"></div>
    </div>
  </div>
  {% render 'column_right' %}</div>

<style>
  .form-group .col-12 {
    padding-left: 0;
    padding-right: 0;
  }
</style>