<section class="breadcrumbs">
  <div class="item-parent col-12 col-lg-6">
    <ul class="item-parent">
      {% for breadcrumb in breadcrumbs %}
        <li class="item">
          <a href="{{ breadcrumb.href }}">
            <p>{{ breadcrumb.text }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<h2>Wachtwoord wijzigen</h2>
<div class="row">

  <div class="col-sm-8">
    <div id="content" class="{{ class }}">


      {% form 'reset_customer_password' %}
        {% if form.errors %}
          {{ form.errors | default_errors }}
        {% endif %}
        <fieldset>
          <legend>Wachtwoord</legend>
                    <div class="form-group required">
            <label class="col-12 control-label" for="current-password">Huidig wachtwoord</label>
            <div class="col-12">
              <input
                type="password"
                name="customer[current_password]"
                value="{{ password }}"
                placeholder="Huidig wachtwoord"
                id="current-password"
                class="form-control"
                autocomplete="off" />
            </div>
          </div>
          <div class="form-group required">
            <label class="col-12 control-label" for="input-password">Nieuw wachtwoord</label>
            <div class="col-12">
              <input
                type="password"
                name="customer[password]"
                value="{{ password }}"
                placeholder="Nieuw wachtwoord"
                id="input-password"
                class="form-control"
                autocomplete="off" />
            </div>
          </div>
          <div class="form-group required">
            <label class="col-12 control-label" for="input-confirm">Bevestig wachtwoord</label>
            <div class="col-12">
              <input
                type="password"
                name="confirm"
                value="{{ confirm }}"
                placeholder="Bevestig wachtwoord"
                id="input-confirm"
                class="form-control"
                autocomplete="off" />
            </div>
          </div>
        </fieldset>
        <div class="buttons clearfix">
          <!-- <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div> -->
          <div class="pull-right">
            <input
              type="submit"
              value="Opslaan"
              class="btn-green mt-3 d-inline-block" />
          </div>
        </div>
      {% endform %}

      <div class="clearfix" style="height: 75px;"></div>
    </div>
  </div>
  {% render 'column_right' %}</div>

<style>
  .form-group .col-12 {
    padding-left: 0;
    padding-right: 0;
  }
</style>