<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="">

    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin
    >

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin
      >
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"
      {%- endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page -}}
      {%- endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name -}}
      {%- endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    >

    <!-- FontAwesome icons -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    >
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-j8y0ITrvFafF4EkV1mPW0BKm6dp3c+J9Fky22Man50Ofxo2wNe5pT1oZejDH9/Dt"
      crossorigin="anonymous"
    >
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-rqn26AG5Pj86AF4SO72RK5fyefcQ/x32DNQfChxWvbXIyXFePlEktwD18fEz+kQU"
      crossorigin="anonymous"
    >

    <!-- Google Fonts -->
    {% # <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> %}
    {% # <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> %}


    {% # NICK CSS TEST %}
    <style>

<style>:root{--blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#6c757d;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}*,::after,::before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%}header,main,section{display:block}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}h1,h2,h3,h4{margin-top:0;margin-bottom:.5rem}p{margin-top:0;margin-bottom:1rem}ul{margin-top:0;margin-bottom:1rem}a{color:#007bff;text-decoration:none;background-color:transparent}img{vertical-align:middle;border-style:none}button{border-radius:0}button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button{text-transform:none}[type=submit],button{-webkit-appearance:button}[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}h1,h2,h3,h4{margin-bottom:.5rem;font-family:inherit;font-weight:500;line-height:1.2;color:inherit}h1{font-size:2.5rem}h2{font-size:2rem}h3{font-size:1.75rem}h4{font-size:1.5rem}.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:576px){.container{max-width:540px}}.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.col-1,.col-10,.col-12,.col-2,.col-3,.col-4,.col-6,.col-8,.col-lg-12,.col-lg-4,.col-lg-6,.col-lg-8,.col-md-12,.col-md-6,.col-md-9,.col-sm,.col-sm-6,.col-xl-12{position:relative;width:100%;padding-right:15px;padding-left:15px}.col-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}@media (min-width:576px){.col-sm{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}}.form-control{display:block;width:100%;height:calc(2.25rem + 2px);padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:.25rem}.form-control::-ms-expand{background-color:transparent;border:0}.form-control::-webkit-input-placeholder{color:#6c757d;opacity:1}.form-control::-moz-placeholder{color:#6c757d;opacity:1}.form-control:-ms-input-placeholder{color:#6c757d;opacity:1}.form-control::-ms-input-placeholder{color:#6c757d;opacity:1}img{page-break-inside:avoid}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}body{min-width:992px!important}.container{min-width:992px!important}.fal,.far,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}.fa-arrow-down:before{content:"\f063"}.fa-check-circle:before{content:"\f058"}.fa-envelope:before{content:"\f0e0"}.fa-phone:before{content:"\f095"}.fa-search:before{content:"\f002"}.fa-shopping-cart:before{content:"\f07a"}@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;src:url(../webfonts/fa-regular-400.eot);src:url(../webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-regular-400.woff2) format("woff2"),url(../webfonts/fa-regular-400.woff) format("woff"),url(../webfonts/fa-regular-400.ttf) format("truetype"),url(../webfonts/fa-regular-400.svg#fontawesome) format("svg")}.far{font-weight:400}@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;src:url(../webfonts/fa-solid-900.eot);src:url(../webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-solid-900.woff2) format("woff2"),url(../webfonts/fa-solid-900.woff) format("woff"),url(../webfonts/fa-solid-900.ttf) format("truetype"),url(../webfonts/fa-solid-900.svg#fontawesome) format("svg")}.far,.fas{font-family:"Font Awesome 5 Free"}.fas{font-weight:900}.fal,.far,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}.fa-arrow-down:before{content:"\f063"}.fa-check-circle:before{content:"\f058"}.fa-envelope:before{content:"\f0e0"}.fa-phone:before{content:"\f095"}.fa-search:before{content:"\f002"}.fa-shopping-cart:before{content:"\f07a"}@font-face{font-family:"Font Awesome 5 Pro";font-style:normal;font-weight:300;src:url(../webfonts/fa-light-300.eot);src:url(../webfonts/fa-light-300.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-light-300.woff2) format("woff2"),url(../webfonts/fa-light-300.woff) format("woff"),url(../webfonts/fa-light-300.ttf) format("truetype"),url(../webfonts/fa-light-300.svg#fontawesome) format("svg")}.fal{font-weight:300}@font-face{font-family:"Font Awesome 5 Pro";font-style:normal;font-weight:400;src:url(../webfonts/fa-regular-400.eot);src:url(../webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-regular-400.woff2) format("woff2"),url(../webfonts/fa-regular-400.woff) format("woff"),url(../webfonts/fa-regular-400.ttf) format("truetype"),url(../webfonts/fa-regular-400.svg#fontawesome) format("svg")}.fal,.far{font-family:"Font Awesome 5 Pro"}.far{font-weight:400}@font-face{font-family:"Font Awesome 5 Pro";font-style:normal;font-weight:900;src:url(../webfonts/fa-solid-900.eot);src:url(../webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-solid-900.woff2) format("woff2"),url(../webfonts/fa-solid-900.woff) format("woff"),url(../webfonts/fa-solid-900.ttf) format("truetype"),url(../webfonts/fa-solid-900.svg#fontawesome) format("svg")}.fas{font-family:"Font Awesome 5 Pro";font-weight:900}.fal,.far,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}.fa-arrow-down:before{content:"\f063"}.fa-check-circle:before{content:"\f058"}.fa-envelope:before{content:"\f0e0"}.fa-phone:before{content:"\f095"}.fa-search:before{content:"\f002"}.fa-shopping-cart:before{content:"\f07a"}@font-face{font-family:"Font Awesome 5 Pro";font-style:normal;font-weight:300;font-display:block;src:url(../webfonts/fa-light-300.eot);src:url(../webfonts/fa-light-300.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-light-300.woff2) format("woff2"),url(../webfonts/fa-light-300.woff) format("woff"),url(../webfonts/fa-light-300.ttf) format("truetype"),url(../webfonts/fa-light-300.svg#fontawesome) format("svg")}.fal{font-weight:300}@font-face{font-family:"Font Awesome 5 Pro";font-style:normal;font-weight:400;font-display:block;src:url(../webfonts/fa-regular-400.eot);src:url(../webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-regular-400.woff2) format("woff2"),url(../webfonts/fa-regular-400.woff) format("woff"),url(../webfonts/fa-regular-400.ttf) format("truetype"),url(../webfonts/fa-regular-400.svg#fontawesome) format("svg")}.fal,.far{font-family:"Font Awesome 5 Pro"}.far{font-weight:400}@font-face{font-family:"Font Awesome 5 Pro";font-style:normal;font-weight:900;font-display:block;src:url(../webfonts/fa-solid-900.eot);src:url(../webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-solid-900.woff2) format("woff2"),url(../webfonts/fa-solid-900.woff) format("woff"),url(../webfonts/fa-solid-900.ttf) format("truetype"),url(../webfonts/fa-solid-900.svg#fontawesome) format("svg")}.fas{font-family:"Font Awesome 5 Pro";font-weight:900}@charset "UTF-8";*{box-sizing:border-box}body{margin:0;color:#697C83;font-family:Arial}section{margin:30px 0}.divider-line .line{height:1px;background:#E5E5E5;width:100%}h1{text-shadow:0 0 5px 0 rgba(0,0,0,.5);line-height:64px;font-weight:700;font-size:42px;color:black;font-family:'Arial',sans-serif}@media (max-width:991.98px){h1{line-height:22px;font-size:24px;margin-bottom:15px}}h2{text-shadow:0 0 5px 0 rgba(0,0,0,.5);line-height:36px;font-weight:700;font-size:36px;color:black;font-family:'Arial',sans-serif;margin-bottom:30px}h3{line-height:28px;font-weight:300;font-size:24px;color:black;font-family:'Arial',sans-serif}h4{line-height:24px;font-weight:300;font-size:20px;color:black;font-family:'Arial',sans-serif}p{font-size:14px;line-height:22px;margin:5px 0}a{color:#697C83;text-decoration:none}i{font-size:16px}.btn-green{background:#18B900;border-radius:5px;border:0;border-bottom:6px solid #15A100!important;min-width:250px;min-height:50px;text-align:center;line-height:50px;color:#fff;font-family:'Arial',sans-serif;text-transform:uppercase;font-weight:700;font-size:16px;display:block;border:0}@media (max-width:991.98px){.btn-green{font-size:14px}}.btn-white{position:relative;float:left;width:273px;height:50px;line-height:50px;font-size:16px;border:3px solid #FFF;border-radius:5px;text-transform:uppercase;display:block;text-align:center;color:#fff;font-weight:700}@media (max-width:991.98px){.btn-white{font-size:14px}}.call{display:flex;flex-direction:row;align-items:center}.call p,.call i{color:#29A7BF;font-weight:700}.call p{margin-left:10px}.check-marks{margin:15px 0}.check-marks .check-mark{display:flex;flex-direction:row;padding:5px 0}.check-marks .check-mark i{margin-top:8px;font-size:16px}.check-marks .check-mark i,.check-marks .check-mark p{margin-right:15px;font-weight:400}.check-marks .check-mark p{margin-right:0;font-size:14px}.check-marks.green .check-mark i{color:#18B900}@media (max-width:991.98px){.mobile-line-before{position:relative;border-top:none!important;border-bottom:none!important}.mobile-line-before:before{content:"";position:absolute;top:0;left:-15px;right:-15px;border-top:1px solid #E5E5E5}}header{position:relative}header .container-fluid{background:white}header .container-fluid .outer{width:1440px;margin:0 auto}header .container-fluid .outer .top-side .inner .row .left-side{display:flex;align-items:center;padding-top:6px;padding-bottom:6px}header .container-fluid .outer .top-side .inner .row .left-side .row{width:100%}header .container-fluid .outer .top-side .inner .row .left-side .row .call p{margin:4px 0 0 10px}header .container-fluid .outer .top-side .inner .row .left-side .row .call i{margin-top:2px}header .container-fluid .outer .top-side .inner .row .left-side .row .call i{margin-top:1.5px;font-size:15px}header .container-fluid .outer .top-side .inner .row .right-side .row{height:100%}header .container-fluid .outer .top-side .inner .row .right-side .stars{padding:6px 0;display:flex;flex-direction:row;align-items:center}header .container-fluid .outer .top-side .inner .row .right-side .top-menu{padding:6px 0;padding:6px 0;display:flex;flex-direction:row;justify-content:center;align-items:center}@media (max-width:1199.98px){header .container-fluid .outer .top-side .inner .row .right-side .top-menu ul li{margin:0 5px!important}header .container-fluid .outer .top-side .inner .row .right-side .top-menu ul li a{font-size:13px!important}}header .container-fluid .outer .top-side .inner .row .right-side .top-menu ul{padding-left:0;margin:0}header .container-fluid .outer .top-side .inner .row .right-side .top-menu ul li{display:inline-block;list-style-type:none;margin:0 10px}header .container-fluid .outer .top-side .inner .row .right-side .top-menu ul li a{text-decoration:underline;font-size:14px}header .container-fluid .outer .top-side .inner .row .right-side .search{display:flex;align-items:center;justify-content:center;border-left:1px solid #E5E5E5;border-right:1px solid #E5E5E5}header .container-fluid .outer .top-side .inner .row .right-side .search input{display:none;padding:0;width:0}header .container-fluid .outer .top-side .inner .row .right-side .brands{display:flex;align-items:center;justify-content:space-around}header .container-fluid .outer .top-side .inner .row .right-side .brands .img{-webkit-background-size:contain;background-size:contain;height:30px}header .container-fluid .outer .top-side .inner .row .right-side .brands .img:first-of-type{background:url(../img/eet.jpg) no-repeat center;width:35px}header .container-fluid .outer .top-side .inner .row .right-side .brands .img:last-of-type{width:90px}header .container-fluid .outer .bottom-side .inner .row{display:flex;justify-content:center;align-items:center}header .container-fluid .outer .bottom-side .inner .row .logo{-webkit-background-size:contain;background-size:contain;width:100%;height:42px}header .container-fluid .outer .bottom-side .inner .row .tabs{display:flex;flex-direction:row}header .container-fluid .outer .bottom-side .inner .row .tabs .tab-item{display:flex;flex-direction:row;align-items:center;justify-content:space-between;padding:10px;border-left:1px solid #E5E5E5}header .container-fluid .outer .bottom-side .inner .row .tabs .tab-item .img{-webkit-background-size:contain;height:45px;width:23px}header .container-fluid .outer .bottom-side .inner .row .tabs .tab-item p{font-weight:700;color:black;padding:0 10px}header .container-fluid .outer .bottom-side .inner .row .tabs .tab-item i{color:#29A7BF}header .container-fluid .outer .bottom-side .inner .row .tabs .tab-item:nth-of-type(2) .img{background:url(../img/apple-ipad-pro.png) no-repeat center;width:32px}header .container-fluid .outer .bottom-side .inner .row .tabs .tab-item:nth-of-type(3) .img{background:url(../img/macbook.png) no-repeat center;width:50px;background-size:contain}header .container-fluid .outer .bottom-side .inner .row .tabs .tab-item:nth-of-type(4) .img{background:url(../img/menu-accessoires.jpg) no-repeat center;width:65px}header .container-fluid .outer .bottom-side .inner .row .tabs .tab-item.cart p{font-size:12px;color:#697C83}header .container-fluid .outer .bottom-side .inner .row .tabs .tab-item.cart .cart-icon{position:relative}header .container-fluid .outer .bottom-side .inner .row .tabs .tab-item.cart .cart-icon i{color:#697C83;font-size:24px}header .container-fluid .outer .bottom-side .inner .row .tabs .tab-item.cart .cart-icon .counter{position:absolute;top:-10px;right:-10px;background:#29A7BF;width:20px;height:20px;border-radius:100%;display:flex;align-items:center;justify-content:center}header .container-fluid .outer .bottom-side .inner .row .tabs .tab-item.cart .cart-icon .counter p{color:white;font-size:12px;font-weight:lighter}@media (max-width:1199.98px){header .container-fluid .outer .bottom-side .inner .row .tabs .tab-item{border-left:none}}@media (max-width:1199.98px){header .container-fluid .outer .bottom-side .inner .row .tabs{width:100%;justify-content:space-between;align-items:center}}@media screen and (max-width:1440px){header .container-fluid .outer{width:100%}}header .container-fluid.bottom-container-fluid{border-top:1px solid #E5E5E5;box-shadow:0 5px 15px -2px rgba(0,0,0,.15)}@media screen and (max-width:1440px){header .bottom-container-fluid{height:60px;display:flex;align-items:center;justify-content:space-around}}.homepage .divider-line.mobile-line-before:before{left:0!important;right:0!important}.homepage section.banner{-webkit-background-size:contain;background-size:contain;height:500px;margin:0}@media (max-width:1199.98px){.homepage section.banner{height:auto}}.homepage section.banner .right-side{display:flex;align-items:center}.homepage section.banner .right-side .inner{display:flex;flex-direction:column}.homepage section.banner .right-side .inner .title h1{font-weight:700;color:white;font-size:64px}@media (max-width:991.98px){.homepage section.banner .right-side .inner .title h1{font-size:46px}}.homepage section.banner .right-side .inner .check-marks .check-mark i,.homepage section.banner .right-side .inner .check-marks .check-mark p{color:white}.homepage section.banner .right-side .inner .btn-green{width:300px}.homepage section.cards .container{margin-bottom:-50px}.homepage section.cards .container .left-side,.homepage section.cards .container .right-side{transform:translateY(-50px);margin-bottom:-50px}.homepage section.cards .container .left-side .inner,.homepage section.cards .container .right-side .inner{padding:30px 30px 20px 30px;background:white;border-radius:5px;box-shadow:0 0 10px 0 rgba(0,0,0,.2)}.homepage section.cards .container .left-side .inner .img,.homepage section.cards .container .right-side .inner .img{position:relative}.homepage section.cards .container .left-side .inner .img .price,.homepage section.cards .container .right-side .inner .img .price{position:absolute;bottom:0;right:0;box-shadow:0 0 10px 0 rgba(0,0,0,.14);height:105px;width:105px;background:#18B900;border-radius:100%;display:flex;align-items:center;justify-content:center}.homepage section.cards .container .left-side .inner .img .price p,.homepage section.cards .container .right-side .inner .img .price p{color:white;margin:0;font-size:13px}.homepage section.cards .container .left-side .inner .img .price p span,.homepage section.cards .container .right-side .inner .img .price p span{font-weight:700;font-size:35px}@media (max-width:767.98px){.homepage section.cards .container .left-side .inner .img .price,.homepage section.cards .container .right-side .inner .img .price{right:-15px;bottom:-20px}}.homepage section.cards .container .left-side .inner .check-marks .check-mark i,.homepage section.cards .container .right-side .inner .check-marks .check-mark i{color:#29A7BF}.homepage section.cards .container .left-side .inner .check-marks .check-mark p,.homepage section.cards .container .right-side .inner .check-marks .check-mark p{font-size:14px}@media (max-width:767.98px){.homepage section.cards .container .left-side .inner .check-marks .check-mark,.homepage section.cards .container .right-side .inner .check-marks .check-mark{padding:0}}@media (max-width:767.98px){.homepage section.cards .container .left-side .inner,.homepage section.cards .container .right-side .inner{padding:20px}}@media (max-width:1199.98px){.homepage section.cards .container .left-side,.homepage section.cards .container .right-side{transform:translateY(0);margin-bottom:0}}.homepage section.cards .container .left-side .inner .img{background:url(../img/iphone.png) no-repeat center left;-webkit-background-size:contain;background-size:contain;height:160px}.homepage section.cards .container .right-side .inner .img{background:url(../img/apple-ipad-pro.png) no-repeat center left;-webkit-background-size:contain;background-size:contain;height:160px}@media (max-width:1199.98px){.homepage section.cards .container{margin-bottom:0}}.homepage section.content .container{border-radius:5px;height:400px}@media (max-width:1199.98px){.homepage section.content .container{height:auto}}@media (max-width:767.98px){.homepage section.content .container{padding:0;border-radius:0}}.homepage section.refurbished-phones-row .container .item-parent .item img{width:200px}.homepage section.refurbished-phones-row .container .item-parent .item .title{margin-top:10px;color:black}.homepage section.refurbished-phones-row .container .item-parent .item .title span{color:#697C83}.homepage section.refurbished-phones-row .container .item-parent .item .price{color:black;margin-bottom:20px}.homepage section.refurbished-phones-row .container .item-parent .item .price p{font-size:12px}.homepage section.refurbished-phones-row .container .item-parent .item .price p span{display:block;margin-top:5px;font-size:35px;color:#29A7BF;font-weight:700}@media (max-width:991.98px){.homepage section.refurbished-phones-row .container{height:100%}.homepage section.refurbished-phones-row .container .row{height:100%}}@media (max-width:991.98px){.homepage section.refurbished-phones-row{overflow:hidden}}.homepage section.about .left-side .inner{padding:30px;box-shadow:0 0 15px 0 rgba(0,0,0,.1);margin-bottom:30px}.homepage section.about .right-side .text{margin-bottom:30px}.homepage section.about .right-side .text p{margin-top:20px;margin-bottom:0}@media (max-width:767.98px){.homepage section.about .right-side .text:first-of-type h3{font-size:30px}}footer .container .customer-support .right-side{position:relative}footer .container .customer-support .right-side .img{position:absolute;bottom:0;right:0;background:url(../img/footer-person.png) no-repeat center bottom;-webkit-background-size:contain;background-size:contain;height:222px;width:300px}footer .container .footer-content h3{font-size:24px;font-weight:300;line-height:28px;color:black;margin-bottom:20px}footer .container .footer-content .contact-details div{display:flex;flex-direction:row;align-items:center;justify-content:flex-start;margin-bottom:5px}footer .container .footer-content .contact-details div i{margin-right:10px;width:15px;font-size:14px}footer .container .footer-content .contact-details div p{font-size:14px;font-weight:700}footer .container .footer-content .brands{margin-top:25px;display:flex;align-items:center;justify-content:flex-start}footer .container .footer-content .brands .img{-webkit-background-size:contain;background-size:contain;height:30px}footer .container .footer-content .brands .img:first-of-type{background:url(../img/eet.jpg) no-repeat center;width:35px;margin-right:15px}footer .container .footer-content .brands .img:last-of-type{background:url(../img/thuiswinkel.jpg) no-repeat center;width:90px}#shopify-section-header{margin:0}a.menu-links-2{font-weight:700}.shopify-section{margin:0}.article-title{color:white}.article-summary p{margin:15px 0;color:#fff;font-size:14px;line-height:22px}.price{font-size:1.6rem;letter-spacing:.1rem;line-height:calc(1 + .5 / var(--font-body-scale));color:rgb(var(--color-foreground))}.price>*{display:inline-block;vertical-align:top}.slidecart-blur{position:absolute;left:0;top:0;right:0;bottom:0}.slidecart{position:fixed;right:0;bottom:0;overflow:hidden;width:100%;height:100%;max-width:576px;background-color:#f8f9fb}.slidecart-header{position:static;top:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:16px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;border-bottom:1px solid #edeef0;background-color:#f8f9fb}.cart-heading{margin-top:0;margin-bottom:0;font-family:'CustomUbuntu';color:#000;font-size:20px;line-height:28px}.text-span{font-family:Ubuntu,Helvetica,sans-serif;color:#a9acb2;font-weight:400}.slidecart-close{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:36px;height:36px;min-height:36px;min-width:36px;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;border:1px solid #edeef0;border-radius:100%}.image{width:24px;height:24px}.slidecart-rewards{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:24px 16px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;grid-row-gap:16px;border-bottom:1px solid #edeef0}.slidecart-progress{position:relative;width:100%;height:8px;border-radius:100px;background-color:rgba(39,14,36,.08)}.rewards-message{margin-bottom:0;font-family:'CustomUbuntu';font-size:16px;line-height:24px;font-weight:700;color:#333}.slidecart-body{overflow:auto;height:73vh}.slidecart-items{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:32px 16px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;grid-row-gap:16px;border-bottom:1px solid rgba(0,0,0,.12)}.slidecart-footer{position:fixed;left:auto;right:0%;bottom:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;max-width:576px;padding:32px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;grid-row-gap:16px;background-color:#fff;box-shadow:0 0 20px 9px rgba(0,0,0,.03);z-index:9}.sc-footer-text-row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;font-family:Ubuntu,Helvetica,sans-serif;color:#000;line-height:140%}.sc-text-subject{font-family:'CustomUbuntu';font-size:16px;font-weight:700}.sc-text-content{font-family:'CustomUbuntu';font-size:16px;font-weight:700}.sc-text-rows-wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;grid-row-gap:16px}.sc-checkout-button{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:16px;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;grid-column-gap:10px;border-radius:8px;background-color:#4dab70;font-family:'CustomUbuntu';color:#fff;font-size:16px;line-height:24px;font-weight:700;text-decoration:none;border:none}.sc-payment-icons{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-align-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;grid-auto-columns:1fr;grid-column-gap:8px;-ms-grid-columns:1fr 1fr;grid-template-columns:1fr 1fr;-ms-grid-rows:auto auto;grid-template-rows:auto auto}.payment-icon{height:22px;margin:0}@media screen and (max-width:479px){.slidecart{overflow:visible}.slidecart-header{padding-top:14px;padding-bottom:14px}.cart-heading{font-size:18px}.slidecart-close{width:32px;height:32px;min-height:32px;min-width:32px}.image{width:20px;height:20px}.slidecart-rewards{padding-top:16px;padding-bottom:16px}.slidecart-body{overflow:scroll}.slidecart-items{padding-top:16px;padding-bottom:16px}.slidecart-footer{padding-right:16px;padding-left:16px;z-index:9}.sc-text-subject{font-size:14px}.sc-text-content{font-size:14px}.sc-checkout-button{padding-top:14px;padding-bottom:14px;font-size:16px}}.swiper-main-wrapper{display:flex;flex-direction:column;margin-top:32px;margin-bottom:43px}.swiper-title{font-family:'CustomUbuntu';font-style:normal;font-weight:700;font-size:20px;line-height:28px;text-transform:capitalize;color:#000;padding:0 16px;padding-bottom:18px}.sidecart-swiper{margin:0 16px!important;box-shadow:0 2px 20px rgba(0,0,0,.02);padding-bottom:17px!important}@media only screen and (max-width:768px){.cart-icon{max-width:21px;height:auto}.swiper-title{font-family:'CustomUbuntu';font-style:normal;font-weight:700;font-size:18px;line-height:28px;text-transform:capitalize;color:#000;padding-bottom:16px;margin:0}}:root{--blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#6c757d;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}*,::after,::before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar}@-ms-viewport{width:device-width}header,main,section{display:block}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}h1,h2,h3,h4{margin-top:0;margin-bottom:.5rem}p{margin-top:0;margin-bottom:1rem}ul{margin-top:0;margin-bottom:1rem}a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}img{vertical-align:middle;border-style:none}button{border-radius:0}button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button{text-transform:none}[type=submit],button{-webkit-appearance:button}[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}h1,h2,h3,h4{margin-bottom:.5rem;font-family:inherit;font-weight:500;line-height:1.2;color:inherit}h1{font-size:2.5rem}h2{font-size:2rem}h3{font-size:1.75rem}h4{font-size:1.5rem}.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:576px){.container{max-width:540px}}.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.col-1,.col-10,.col-12,.col-2,.col-3,.col-4,.col-6,.col-8,.col-lg-12,.col-lg-4,.col-lg-6,.col-lg-8,.col-md-12,.col-md-6,.col-md-9,.col-sm,.col-sm-6,.col-xl-12{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px}.col-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}@media (min-width:576px){.col-sm{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}}.form-control{display:block;width:100%;padding:.375rem .75rem;font-size:1rem;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:.25rem}.form-control::-ms-expand{background-color:transparent;border:0}.form-control::-webkit-input-placeholder{color:#6c757d;opacity:1}.form-control::-moz-placeholder{color:#6c757d;opacity:1}.form-control:-ms-input-placeholder{color:#6c757d;opacity:1}.form-control::-ms-input-placeholder{color:#6c757d;opacity:1}img{page-break-inside:avoid}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}body{min-width:992px!important}.container{min-width:992px!important}:root{--swiper-theme-color:#007aff}:host{position:relative;display:block;margin-left:auto;margin-right:auto;z-index:1}.swiper{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;overflow:clip;list-style:none;padding:0;z-index:1;display:block}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;box-sizing:content-box}.swiper-wrapper{transform:translate3d(0,0,0)}:root{--swiper-navigation-size:44px}.swiper-pagination{position:absolute;text-align:center;transform:translate3d(0,0,0);z-index:10}</style>

    </style>

  <script>var cb = function() {
var l = document.createElement('link'); l.rel = 'stylesheet';
l.href = 'PATH_TO_COMBINED_CSS_FILE';
var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
};
var raf = requestAnimationFrame || mozRequestAnimationFrame ||
webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(cb);
else window.addEventListener('load', cb);
  </script>
    
    <!-- custom css -->
    {{ 'style-rephone.css' | asset_url | stylesheet_tag }}
    {{ 'slicknav.css' | asset_url | stylesheet_tag }}

    <style>
      .slidecart-body {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        width: inherit;
      }
    </style>

    <style>
      @font-face {
        font-family: 'CustomUbuntu';
        src: url('{{'Ubuntu-Bold.woff' | asset_url}}') format('woff');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'CustomUbuntu';
        src: url('{{'Ubuntu-Medium.woff' | asset_url}}') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }
    </style>

  </head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NNNVTZZ');</script>
<!-- End Google Tag Manager -->
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNNVTZZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% section 'global-settings' %}
    {% section 'header' %}
    <main
      id="main"
      class="main homepage"
      role="main"
      tabindex="-1"
    >
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
    {% section 'sidecart' %}

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
    {%#  <script defer src="{{ 'jquery.slicknav.min.js' | asset_url }}" async="async"></script> #%}

    
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script
      defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"
      integrity="sha512-nnzkI2u2Dy6HMnzMIkh7CPd1KX445z38XIu4jG1jGw7x5tSL3VBjE44dY4ihMU1ijAQV930SPM12cCFrB18sVw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>

    <script src="{{ 'main.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'slicknav.js' | asset_url }}" defer="defer"></script>
    <script>
      $(function() {
        $('#slicknav_menu').slicknav();
      });
    </script>

    <script>
      var section = document.getElementById("sidecart");
      if (section) {
        var script1 = document.createElement("script");
        script1.src = "https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js";
        script1.type = "text/javascript";
        section.appendChild(script1);

        var script2 = document.createElement("script");
        script2.innerHTML = "WebFont.load({  google: {    families: ['Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic']  }});"
        section.appendChild(script2);
      }
    </script>
    
  {{ '//cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23' | script_tag }}

  </body>
  <script>
    function debounce(func, timeout = 300) {
      let timer;
      return(...args) => {
        clearTimeout(timer);
        timer = setTimeout(() => {
          func.apply(this, args);
        }, timeout);
      };
    }
  </script>
  <script type="application/json" data-ajax-cart-initial-state>
    {{ cart | json }}
  </script>

  <script type="module">
    import '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}';
  </script>
  <script type="application/json" data-ajax-cart-configuration>
    {
    "addToCartCssClass": "js-my-cart-open"
                                                                                                                                              }
  </script>

  <script type="module">
    import { subscribeToCartSectionsUpdate } from '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}'
    subscribeToCartSectionsUpdate( sections => {
                                                                                                                        console.log('Sections are updated: ', sections);
                                                            });
  </script>
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5a732d6e4b401e45400c9726/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</html>
