<div class="container order-and-pickup contact">
  <section class="breadcrumbs">
    <div class="item-parent col-12 col-lg-6">
      <ul class="item-parent">
        <li class="item">
          <p>
            <a href="{{routes.root_url}}">Home</a>
          </p>
        </li>
        <li class="item">
          <p>
            <a href="">Bestellen &amp; Betalen</a>
          </p>
        </li>
      </ul>
    </div>
  </section>
  <div class="row">
    <section class="main-content col-12 col-lg-9">
      <div class="inner">
        <section class="content-text">
          <h1 class="mt-2 mt-lg-0">{{ section.settings.title }}</h1>
          <div class="text">
            <h3>{{ section.settings.bottom-title }}</h3>
            {{ section.settings.bottom-title }}
          </div>
          <div class="text">
            <h3>Wat zijn de betaalmogelijkheden</h3>
            <div class="check-marks">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'main-text-line' %}
                  <div class="check-mark">
                    <i class="fal fa-check-circle"></i>
                    <p>{{ block.settings.main-line }}</p>
                  </div>
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        </section>
      </div>
    </section>
    <section class="right-sidebar col-12 col-lg-3">
      <div class="inner">
        <div class="customer-support-nav mobile-line-before">
          <h4>Klantenservice</h4>
          <ul>
            {% for link in linklists[section.settings.menu].links -%}
              <li class="mobile-line-before">
                <a href="{{link.url}}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="why-buy-here mobile-line-after">
          <h4>Waarom bij ons kopen</h4>
          <div class="check-marks">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'text-line' %}
                <div class="check-mark">
                  <i class="fal fa-check-circle"></i>
                  <p>{{ block.settings.line }}</p>
                </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% schema %}
  {
    "name": "Bestellen",
    "class": "section",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "bottom-title",
        "label": "Bottom Title"
      },
      {
        "type": "richtext",
        "id": "bottom-description",
        "label": "Bottom Description"
      }, {
        "type": "text",
        "id": "button-label",
        "label": "Button Label"
      }, {
        "type": "url",
        "id": "button-url",
        "label": "Button Url"
      }
    ],
    "blocks": [
      {
        "name": "Side Text Line",
        "type": "text-line",
        "settings": [
          {
            "type": "richtext",
            "id": "line",
            "label": "Text Line"
          }
        ]
      }, {
        "name": "Main Text Line",
        "type": "main-text-line",
        "settings": [
          {
            "type": "richtext",
            "id": "main-line",
            "label": "Main Text Line"
          }
        ]
      }
    ]
  }
{% endschema %}