{% liquid 
  if section.settings.menu.links == blank
    assign main_menu_linklist = linklists[section.settings.menu].links
  else
    assign main_menu_linklist = section.settings.menu.links
  endif
%}

<header>
  <div class="container-fluid d-lg-block d-none">
    <div class="outer">
      <div class="top-side">
        <div class="inner">
          <div class="row">
            <div class="col-2 left-side d-lg-block d-none">
              <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12 call">
                  <i class="far fa-phone"></i>
                  <p>
                    <a href="tel:085 1301 646">085 1301 646</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-10 right-side">
              <div class="row">
                <div class="col-4 stars d-lg-flex d-none" style="border-left: 1px solid #E5E5E5; padding-left: 10px;"></div>
                <div class="col-4 top-menu d-lg-flex d-none">
                  <ul>
                    {% for link in linklists[section.settings.menu].links -%}
                      <li>
                        <a class="menu-links-{{forloop.index}}" href="{{link.url}}">{{link.title}}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <form action="zoeken" class="col-1 search">
                  <input class="form-control" name="search" type="text" placeholder="Zoeken" aria-label="Search">
                  <i class="far fa-search"></i>
                </form>
                <a href="https://www.thuiswinkel.org/leden/rephone/certificaat" rel="nofollow" target="_blank" class="col-3 brands">
                  <div class="img d-none"></div>
                  <div class="img" style="background: url({{section.settings.secondary-logo | img_url: 'master'}}) no-repeat center;"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bottom-container-fluid">
    <div class="outer">
      <div class="bottom-side">
        <div class="inner">
          <div class="row">
            <a href="{{store.url}}" class="col-3 logo d-lg-block d-none" style="background: url({{section.settings.logo | img_url: 'master'}}) no-repeat 15px center;background-size: contain;"></a>
            <div class="offset-0  col-md-9 offset-md-0 offset-lg-1 col-12 col-lg-8">
              <div class="tabs">
                {% for block in section.blocks %}
                  {% case block.type %}
                    {% when 'collections' %}
                      {% assign collection = collections[block.settings.collection] %}
                      <a href="{{collection.url}}" class="tab-item d-none d-lg-flex menu-item" data-menu="{{collection.title}}">
                        <div class="img" style="background: url({{block.settings.collection-image | img_url: 'master'}}) no-repeat center;background-size: contain;"></div>
                        <p>{{collection.title}}</p>
                        <i class="far fa-arrow-down"></i>
                      </a>
                  {% endcase %}
                {% endfor %}
                <a href="https://www.rephone.nl/" class="mobile-logo d-lg-none">
                  <img src="{{section.settings.mobile-logo | img_url: 'master'}}"/>
                </a>
                <a href="winkelwagen/" class="tab-item cart">
                  <p class="d-lg-block d-none">Je winkelwagen</p>
                  <div class="cart-icon">

                    <i class="fas fa-shopping-cart"></i>
                    <div class="counter">
                      <p>{{ cart }}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% render 'menu' %}
</header>


{% schema %}
  {
    "name": "Header",
    "tag": "section",
    "class": "header",
    "limit": 1,
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
      {
        "type": "link_list",
        "id": "mobile-menu",
        "label": "Mobile Menu"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "image_picker",
        "id": "secondary-logo",
        "label": "Secondary logo"
      }, {
        "type": "image_picker",
        "id": "mobile-logo",
        "label": "Mobile logo"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "name": "Collections",
        "type": "collections",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }, {
            "type": "collection_list",
            "id": "collection_list",
            "label": "Collections"
          }, {
            "type": "image_picker",
            "id": "collection-image",
            "label": "Collection Image"
          }
        ]
      }
    ]
  }
{% endschema %}