{% assign article = section.settings.article %}
<style>
  .inner-blog {
    background: linear-gradient(0deg, rgba(41, 167, 191, 0.3), rgba(41, 167, 191, 0.3)), url('{{ article.image | img_url: 'master'}}');
    background-size: cover;
    height: 400px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
</style>

<section class="content">
  <div class="container">
    <div class="inner-blog">
      <div class="row">
        <div class="col-12 col-lg-8">
          <h2 class="article-title">
            {{ article.title }}
          </h2>
          <div class="article-summary">
            {{ section.settings.article-summary }}
          </div>
          <a href="{{ article.url }}" class="btn-white">{{section.settings.button-label}}</a>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Blog",
    "class": "section",
    "settings": [
      {
        "type": "article",
        "id": "article",
        "label": "Article"
      }, {
        "type": "richtext",
        "id": "article-summary",
        "label": "Article Summary"
      }, {
        "type": "text",
        "id": "button-label",
        "label": "Button Label"
      }
    ],
    "presets": [
      {
        "name": "Blog"
      }
    ]
  }
{% endschema %}