<div class="container order-and-pickup contact">
  <div class="row">
    <section class="main-content col-12 col-lg-9">
      <div class="inner">
        <section class="content-text">
          <h1 class="mt-2 mt-lg-0">{{section.settings.title}}</h1>
          <div class="customer-support mobile-line-after">
            <div class="row">
              <div class="left-side col-12 col-lg-8">
                <p>{{section.settings.description}}</p>
              </div>
            </div>
          </div>
          <div class="customer-support" style="margin-top: 20px; border-bottom: 0px solid white;">
            <div class="contact-method">
              <h3>{{section.settings.bottom-title}}</h3>
              <p>{{section.settings.bottom-description}}</p>
              <a href="{{section.settings.button-url}}" class="btn-green" style="width: 300px;">{{section.settings.button-label}}</a>
            </div>
            <div class="contact-method">
              <h3>Telefonisch</h3>
              <p>
                Wij zijn telefonisch bereikbaar op telefoonnummer 085 1301 646 van maandag tot vrijdag van 10:00 - 17:00. We staan je graag te woord om je te helpen.
              </p>
              <div class="row mt-3 no-gutters contact">
                <div class="call col-6 col-md-4 col-lg-3 col-xl-2">
                  <i class="far fa-phone"></i>
                  <p>085 1301 646</p>
                </div>
              </div>
              <div class="timestamp mt-1 mb-3 mb-lg-1">
                <p>maandag tot vrijdag van 10:00 - 17:00</p>
              </div>
            </div>
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'text-block' %}
                  <div class="contact-method">
                    <h3>{{block.settings.block-title}}</h3>
                    {{block.settings.block-description}}
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        </section>
      </div>
    </section>
    <section class="right-sidebar col-12 col-lg-3">
      <div class="inner">
        <div class="customer-support-nav mobile-line-before">
          <h4>Klantenservice</h4>
          <ul>
            {% for link in linklists[section.settings.menu].links -%}
              <li class="mobile-line-before">
                <a href="{{link.url}}">{{link.title}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="why-buy-here mobile-line-after">
          <h4>Waarom bij ons kopen</h4>
          <div class="check-marks">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'text-line' %}
                  <div class="check-mark">
                    <i class="fal fa-check-circle"></i>
                    <p>{{block.settings.line}}</p>
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


{% schema %}
  {
    "name": "Klantenservice",
    "class": "section",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "bottom-title",
        "label": "Bottom Title"
      }, {
        "type": "richtext",
        "id": "bottom-description",
        "label": "Bottom Description"
      }, {
        "type": "text",
        "id": "button-label",
        "label": "Button Label"
      }, {
        "type": "url",
        "id": "button-url",
        "label": "Button Url"
      }
    ],
    "blocks": [
      {
        "name": "Text Line",
        "type": "text-line",
        "settings": [
          {
            "type": "richtext",
            "id": "line",
            "label": "Text Line"
          }
        ]
      }, {
        "name": "Text Block",
        "type": "text-block",
        "settings": [
          {
            "type": "text",
            "id": "block-title",
            "label": "Block Title"
          }, {
            "type": "richtext",
            "id": "block-description",
            "label": "Block Description"
          }
        ]
      }
    ]
  }
{% endschema %}