

<form action="{{ routes.cart_url }}" method="post">
<div class="container no-overflow cart-overview">

{% assign freeShippingPrice = section.settings.freeshipping_threshold | plus: 0 %}
{% assign cartPriceCents = cart.total_price | plus: 0 %}
{% assign width = cartPriceCents | times: 100 | divided_by: freeShippingPrice %}


  <style>
    @media(max-width: 991.98px) {
      .certainties {
        display: none;
      }
    }

    .mt0 {
      margin-top: 0;
    }
    .mb0 {
      margin-bottom: 0;
    }
  </style>
  <section class="certainties mobile-line-after">
    <div class="row">
      <div class="col-6 col-md-4 justify-content-center justify-content-md-start">
        <i class="fal fa-check-circle"></i>
        <p>2 jaar garantie</p>
      </div>
      <div class="col-4">
        <i class="fal fa-check-circle"></i>
        <p>14 dagen bedenktijd en gratis retourneren</p>
      </div>
      <div class="col-4 d-none d-md-flex">
        <i class="fal fa-check-circle"></i>
        <p>Fysieke winkel
        </p>
      </div>
    </div>
  </section>

  <div class="row">
    <section class="main-content col-12">
      <div class="inner">
        <div class="cart-status d-none d-md-block">
          <div class="row">
            <div class="col-8 col-lg-9">
              <h2>Winkelwagen</h2>
            </div>
          </div>
        </div>


        <div class="mobile-row-container" data-ajax-cart-section>
          <div class="row">
            <div class="col-12 col-lg-7">
              <div class="cart-items">

                  {% for item in cart.items %}
                    <div class="cart-item">
                      <div class="row">
                        <div class="col-md-8 col-9 product">
                          <div class="row">
                            <div class="col-md-3 col-5">
                              <img src="{{ item.image | img_url: 'master' }}" style="max-width: 130%;" />
                            </div>
                            <div class="col-md-9 col-7" style="padding-top: 10px; padding-left: 20px;">
                              <p class="title mb0">
                                <a
                                  href="{{ item.url }}"
                                  class="title"
                                  style="font-size: 18px; color: #29a7bf;">{{item.title}}</a>
                              </p>
                              {% for variant in product.variants %}
                                {% if variant.title == 'Als nieuw' %}
                                  <p class="status mt0">A Grade<br>
                                    <span>Als nieuw</span>
                                  </p>
                                {% endif %}

                                {% if variant.title == 'Lichte gebruikssporen' %}
                                  <p class="status mt0">B Grade<br>
                                    <span>Licht gebruikt</span>
                                  </p>
                                {% endif %}

                                {% if variant.title == 'Zichtbare gebruikssporen' %}
                                  <p class="status mt0">C Grade<br>
                                    <span>Zichtbaar gebruikt</span>
                                  </p>
                                {% endif %}
                              {% endfor %}


                              {% if product.split_name.type != '' %}
                                <div class="options" ">
                                  <div class="row">
                                    <div class="col-2">
                                      <p style="line-height: 1.25;">
                                        <strong>Kleur</strong>
                                      </p>
                                      <p style="line-height: 1.25;">
                                        <strong>Opslag</strong>
                                      </p>
                                    </div>
                                    <div class="col-3">
                                      <p style="line-height: 1.25;">{{ product.split_name.color }}</p>
                                      <p style="line-height: 1.25;">{{ product.split_name.storage }}</p>
                                    </div>
                                  </div>
                                </div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-3 item-options" style="padding-top: 18px;">
                          <div class="price">
                            <p>{{ item.final_price | money }}</p>
                          </div>
                          <div class="quantity-selection">
                            <a data-ajax-cart-request-button
                            href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}" class="btn btn-default btn-number">
                            <i class="fas fa-chevron-left"></i>
                          </a>
                          <input data-ajax-cart-quantity-input="{{ forloop.index }}" value="{{ item.quantity }}" name="updates[]" type="number" class="quantity-value" id="cart-item-quantity"/>
                          <a class="btn btn-default btn-number" data-ajax-cart-request-button
                            href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}">
                            <i class="fas fa-chevron-right"></i>
                          </a>
                          </div>
                          <div class="delete">
                            <a
                            data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0"
                              class="blue cart-delete"
                              data-field="quantity[{{ product.cart_id }}]">Verwijder dit product</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </form>

              </div>

              <div class="divider-line mobile mt-4 mb-4">
                <div class="line"></div>
              </div>

              <div class="row">
                <div class="col-8 offset-4 col-md-6 offset-md-6 col-xl-5 col-lg-7 offset-xl-7 offset-lg-5 shipping">
                  <div class="row">
                    <div class="col-8 left-side">
                    <p>Verzendkosten</p>
                    <p>Totaal</p>
                    </div>
                    <div class="col-4 right-side text-right">
                    <p>{% if freeShippingPrice <= cartPriceCents %}
                    GRATIS
                    {% else %}
                    {{ section.settings.shipping | money }}
                    {% endif %}</p>
                    <p>{{ cart.total_price | money_with_currency }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="continue-shopping">
          <div class="row d-none d-md-flex">
            <div class="col-xl-9 col-lg-8 col-6">
              <a href="{{routes.root_url}}" class="blue-underline">
                <i class="far fa-arrow-left"></i>
                <p>Of nog even verder winkelen</p>
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-6">
              <button type="submit" name="checkout" class="btn-green">Verder met bestellen</button>
            </div>
          </div>

          <div class="mobile-row-container d-md-none pt-2 pb-2">
            <div class="row">
              <div class="col-6">
                <a href="{{routes.root_url}}" class="blue-underline">
                  <p>Verder winkelen</p>
                </a>
              </div>
              <div class="col-6">
                <button type="submit" name="checkout" class="btn-green">
                  <p>Bestellen</p>
                  <i class="fas fa-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
</form>

<style>
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>

{% schema %}
  {
    "name": "Sidecart",
    "settings": [
      {
        "type": "number",
        "id": "freeshipping_threshold",
        "default": 4000,
        "label": "Free shipping threshold"
      },
      {
        "type": "number",
        "id": "shipping",
        "default": 499,
        "label": "Shipping price"
      }
    ]
  }
  {% endschema %}


