<div class="container order-and-pickup contact">
  <section class="breadcrumbs">
    <div class="item-parent col-12 col-lg-6">
      <ul class="item-parent">
        <li class="item">
          <p>
            <a href="{{routes.root_url}}">Home</a>
          </p>
        </li>
        <li class="item">
          <p>
            <a href="">{{ page.title }}</a>
          </p>
        </li>
      </ul>
    </div>
  </section>
  <div class="row">
    <section class="main-content col-12 col-lg-9">
      <div class="inner">
        <section class="content-text">
          <h1 class="mt-2 mt-lg-0">{{ page.title }}</h1>
          {{ page.content }}
        </section>
      </div>
    </section>
    <section class="right-sidebar col-12 col-lg-3">
      <div class="inner">
        <div class="customer-support-nav mobile-line-before">
          <h4>Klantenservice</h4>
          <ul>
            {% for link in linklists[section.settings.menu].links -%}
              <li class="mobile-line-before">
                <a href="{{link.url}}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="why-buy-here mobile-line-after">
          <h4>Waarom bij ons kopen</h4>
          <div class="check-marks">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'text-line' %}
                <div class="check-mark">
                  <i class="fal fa-check-circle"></i>
                  <p>{{ block.settings.line }}</p>
                </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% schema %}
  {
    "name": "Standaard pagina",
    "class": "section",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }, {
        "type": "url",
        "id": "repair-link",
        "label": "Repair Link"
      }
    ],
    "blocks": [
      {
        "name": "Side Text Line",
        "type": "text-line",
        "settings": [
          {
            "type": "richtext",
            "id": "line",
            "label": "Text Line"
          }
        ]
      }
    ]
  }
{% endschema %}