<div class="container order-and-pickup contact">
  <section class="breadcrumbs">
    <div class="item-parent col-12 col-lg-6">
      <ul class="item-parent">
        <li class="item">
          <p>
            <a href="{{routes.root_url}}">Home</a>
          </p>
        </li>
        <li class="item">
          <p>
            <a href="">Garantie</a>
          </p>
        </li>
      </ul>
    </div>
  </section>
  <div class="row">
    <section class="main-content col-12 col-lg-9">
      <div class="inner">
        <section class="content-text">
          <h1 class="mt-2 mt-lg-0">Garantie</h1>
          <div class="contact-method">
            <h3>Probleem met uw apparaat?</h3>
            <p>Heeft u probleem met uw apparaat. Meld uw apparaat online aan voor garantie.</p>
            <a
              href="{{section.settings.repair-link}}"
              class="btn-green"
              style="width: 300px;">Aanmelden garantie</a>
          </div>
          <br><br>
          <h4>Hardware garantie</h4>
          <p>Je refurbished product koop je met garantie op de hardware met uitzondering van slijtage gevoelige onderdelen. Deze garantie doet niets af aan de wettelijke garantie. Per product wordt aangegeven wat de garantieperiode is. Op eventueel bijgeleverde accessoires zoals simtool, kabel en lader heb je 6 maanden garantie. Daarnaast zijn vocht-, val- en stootschade en iedere andere vorm van zelf aangerichte schade uitgesloten van garantie. Het buigen van de behuizing na enige tijd van gebruik betreft geen productiefout zoals bij nieuwe iPhones soms het geval is geweest, maar schade ontstaan door gebruik van het toestel bijvoorbeeld door het zitten op de iPhone, in de achterzak of bijvoorbeeld door te leunen tegen voorwerpen aan. Daarnaast zijn defecten voortkomend uit reparatie bij derden zonder onze toestemming ook uitgesloten van garantie. Buiten garantie zijn kosten voor herinstalleren van software en verzending van reparatie niet gedekt. Indien de batterij binnen 24 maanden na levering niet goed functioneert wordt deze gratis door ons vervangen als dit binnen onze garantievoorwaarden valt.</p>
          <h4>Vloeistofschade</h4>
          <p>Sommige iPhones hebben een extra beveiliging, deze zijn namelijk waterbestendig. Dat betekent echter niet dat ze waterdicht zijn. Met de normen die Apple aanhoudt zou je bij ongeveer een meter diepte niet direct een defecte iPhone hebben. Dit soort normen zijn getest in een laboratorium en niet in de echte wereld ná gebruik. Wij raden je dan ook af te gaan zwemmen met je iPhone. Net als Apple geeft rephone.nl géén garantie op enige vorm van vloeistofschade.</p>
          <h4>
            Garantievoorwaarden</h4>
          <p>Bij Rephone geloven we in de kwaliteit van onze refurbished elektronica. Voor alle artikelen die je bij ons koopt, geldt de wettelijke garantie. Wettelijke garantie wil zeggen dat een product datgene is of moet doen wat de consument er in alle redelijkheid van mag verwachten. Voor sommige producten geldt ook een verkopersgarantie. Deze garantie doet niets af aan de wettelijke garantie.</p>
          <p>Onderstaande punten vallen binnen de geadverteerde 24 maanden Rephone garantie:<br>- Defecten die zich binnen 2 jaar na aankoop voordoen;<br>- Accu (bij uitvallen van het toestel)</p>
          <p>Onderstaande punten vallen buiten de Rephone garantie:<br>- Alle optische schade (bijvoorbeeld scherm en/of cameralens gebarsten, behuizing gebogen)<br>- Defecten die zich 2 jaar na aankoop voordoen;<br>- Defecten die als gevolg van val of vochtschade zijn ontstaan;<br>- Defecten die ontstaan zijn door reparatie van derden;<br>- Defecten aan oplaadconnector (door stof of slijtage);<br>- Defecten aan Touch ID (vingerscanner) of Face ID (gezichtsscanner);<br>- Geen garantie op waterdichtheid;</p>
          <p>Twijfelt u of uw schade binnen of buiten de garantie valt? Neem dan contact met ons op via 085 1301 646 of info@rephone.nl en vraag hiernaar.</p>
          <h4>Klachten&nbsp;</h4>
          <p>Het is altijd vervelend wanneer uw bestelde product niet aan uw eisen voldoet of u niet tevreden bent met uw bestelling. Wij zijn ons ervan bewust dat dit kan gebeuren en zijn dan ook vijf dagen in de week bereikbaar om samen met u een gepaste oplossing te vinden voor deze ontevredenheid. U kunt ons bereiken via 085 1301 646 of klantenservice@rephone.nl.&nbsp;</p>
        </section>
      </div>
    </section>
    <section class="right-sidebar col-12 col-lg-3">
      <div class="inner">
        <div class="customer-support-nav mobile-line-before">
          <h4>Klantenservice</h4>
          <ul>
            {% for link in linklists[section.settings.menu].links -%}
              <li class="mobile-line-before">
                <a href="{{link.url}}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="why-buy-here mobile-line-after">
          <h4>Waarom bij ons kopen</h4>
          <div class="check-marks">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'text-line' %}
                <div class="check-mark">
                  <i class="fal fa-check-circle"></i>
                  <p>{{ block.settings.line }}</p>
                </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% schema %}
  {
    "name": "Garantie",
    "class": "section",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }, {
        "type": "url",
        "id": "repair-link",
        "label": "Repair Link"
      }
    ],
    "blocks": [
      {
        "name": "Side Text Line",
        "type": "text-line",
        "settings": [
          {
            "type": "richtext",
            "id": "line",
            "label": "Text Line"
          }
        ]
      }
    ]
  }
{% endschema %}